In [1]:
import pandas as pd

In [2]:
pwd()

'/Users/Igor/Desktop/MICourse'

In [3]:
ls

CONTRIBUTING.md*
LICENSE.md*
Lecture_1.ipynb*
README.md*
Topic 1. Exploratory data analysis with Pandas.ipynb
Topic 2. Visual data analysis in Python.ipynb
Untitled.ipynb
data/
docker_files/
img/
jupyter_english/
jupyter_russian/
run_docker_jupyter.sh*
run_docker_jupyter_windows.cmd*

In [4]:
cd data/

/Users/Igor/Desktop/MICourse/data

In [8]:
df = pd.read_csv('adult.data.csv')

In [9]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [12]:
df['sex']

0          Male
1          Male
2          Male
3          Male
4        Female
5        Female
6        Female
7          Male
8        Female
9          Male
10         Male
11         Male
12       Female
13         Male
14         Male
15         Male
16         Male
17         Male
18         Male
19       Female
20         Male
21       Female
22         Male
23         Male
24       Female
25         Male
26         Male
27         Male
28         Male
29         Male
          ...
32531    Female
32532      Male
32533      Male
32534    Female
32535      Male
32536    Female
32537      Male
32538    Female
32539      Male
32540    Female
32541    Female
32542      Male
32543    Female
32544    Female
32545    Female
32546    Female
32547      Male
32548      Male
32549    Female
32550      Male
32551      Male
32552      Male
32553      Male
32554      Male
32555      Male
32556    Female
32557      Male
32558    Female
32559      Male
32560    Female
Name: sex, Length: 32561, dtype: object

In [15]:
df['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [17]:
df[df['sex']=='Female']['age'].mean()

36.85823043357163

In [18]:
df['native-country'].value_counts()

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
Greece                           29
France                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Thailand                         18
Laos                             18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Hungary                          13
Honduras                         13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64

In [27]:
round(float((df['native-country']== 'Germany').sum())/df.shape[0],3)

0.004

In [28]:
float((df['native-country']== 'Germany').sum())

137.0

In [36]:
df.shape[0]

32561

In [37]:
age1 = df[df['salary'] == '>50K']['age']
age2 = df[df['salary'] == '<=50K']['age']

In [39]:
print("The average age of the rich: {0} +- {1} years, poor - {2} +- {3} years.".format(
round(age1.mean()), round(age1.std(),1),
round(age2.mean()), round(age2.std(),1)))

The average age of the rich: 44 +- 10.5 years, poor - 37 +- 14.0 years.

In [42]:
df[df['salary']=='>50K']['education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

In [43]:
for (race, sex), sub_df in df.groupby(['race','sex']):
    print('Race:{0}, sex: {1}'.format(race,sex))
    print(sub_df['age'].describe())

Race:Amer-Indian-Eskimo, sex: Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
Race:Amer-Indian-Eskimo, sex: Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
Race:Asian-Pac-Islander, sex: Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
Race:Asian-Pac-Islander, sex: Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
Race:Black, sex: Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race:Black, sex: Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race:Other, sex: Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
Race:Other, sex: Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
Race:White, sex: Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race:White, sex: Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

In [44]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [47]:
df[(df['sex'] == 'Male') &
     (df['marital-status'].isin(['Never-married', 
                                   'Separated', 'Divorced']))]['salary'].value_counts()

<=50K    7423
>50K      658
Name: salary, dtype: int64

In [51]:
df[(df['sex'] == 'Male') &
     (df['marital-status'].str.startswith('Married'))]\
    ['salary'].value_counts()

<=50K    7576
>50K     5965
Name: salary, dtype: int64

In [52]:
df['marital-status'].value_counts()

Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital-status, dtype: int64

In [59]:
max_hours = df['hours-per-week'].max()

In [64]:
total_number = df[df['hours-per-week']== max_hours].shape[0]

In [75]:
float(df[(df['hours-per-week']==max_hours) & (df[df['salary']=='>50K'])].shape[0])/total_number

/anaconda3/lib/python3.6/site-packages/pandas/core/indexes/base.py:3755: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  return this.join(other, how=how, return_indexers=return_indexers)

ValueError: operands could not be broadcast together with shapes (47046,) (6,)

In [66]:
total_number

85

In [67]:
max_load = df['hours-per-week'].max()
print("Max time - {0} hours./week.".format(max_load))

num_workaholics = df[df['hours-per-week'] == max_load].shape[0]
print("Total number of such hard workers {0}".format(num_workaholics))

rich_share = float(df[(df['hours-per-week'] == max_load)
                 & (df['salary'] == '>50K')].shape[0]) / num_workaholics
print("Percentage of rich among them {0}%".format(int(100 * rich_share)))

Max time - 99 hours./week.
Total number of such hard workers 85
Percentage of rich among them 29%

In [68]:
rich_share

0.29411764705882354

In [69]:
max_load

99

In [70]:
num_workaholics

85

In [72]:
rich_share

0.29411764705882354